<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
		<ul th:fragment="nav" style="list-style: none;margin: 0;padding: 10px 0px 10px 10px;width: 100%;height: 100px;background-color: black;color: aliceblue;">
			<img src="/images/logo.png" style="display: inline;" height="80px;">
			<li style="display: inline;margin-right: 20px;"><a href="#">Home</a></li>
			<li style="display: inline;margin-right: 20px;"><a href="#">GameBoys</a></li>
			<li style="display: inline;margin-right: 20px;"><a href="#">Playstation 1</a></li>
		</ul>
</html>